# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [23]:
#Import CSV
weather_df = pd.read_csv("../output_data/WeatherData.csv")
#Drop NaN values
weather_df.dropna(inplace=True)
weather_df.head(None)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,Qaanaaq,GL,77.4840,-69.3632,22.28,83,100,4.63,1619213770
1,Provideniya,RU,64.3833,-173.3000,40.23,57,81,4.12,1619213805
2,Asău,RO,46.4333,26.4000,37.99,70,38,2.98,1619213866
3,Djambala,CG,-2.5447,14.7533,69.76,91,93,2.15,1619213866
4,Nemuro,JP,43.3236,145.5750,39.83,81,100,15.77,1619213837
...,...,...,...,...,...,...,...,...,...
568,Banjar,ID,-8.1900,114.9675,77.00,83,20,3.44,1619214085
569,Fremont,US,37.5483,-121.9886,66.99,55,1,12.66,1619214086
570,Kadirli,TR,37.3739,36.0961,66.00,74,93,4.79,1619214086
571,Larsnes,NO,62.2028,5.5773,35.01,85,85,1.01,1619214086
572,Pitimbu,BR,-7.4706,-34.8086,80.60,83,40,6.91,1619214087

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [26]:
#Access maps with API key
gmaps.configure(api_key=g_key)

locations = weather_df[["Lat", "Lng"]]
humid = weather_df["Humidity"].astype(float)

In [27]:
#Plot Heatmap
fig = gmaps.figure()
#Create Heatlayer
heat_layer = gmaps.heatmap_layer(locations, humid, dissipating=False, max_intensity=10, point_radius=1)

#Add layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
* A max temperature lower than 80 degrees but higher than 70.

* Wind speed less than 10 mph.

* <= 25 cloudiness.

* Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [45]:
ideal_df = weather_df.loc[(weather_df["Max Temp"] < 80) & (weather_df["Max Temp"] > 70)]
ideal_df = ideal_df[ideal_df['Wind Speed'] < 10]
ideal_df = ideal_df[ideal_df['Cloudiness'] <= 25]
ideal_df.head(None)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
6,Hong Kong,HK,22.2855,114.1577,78.01,87,20,3.00,1619213704
22,Sinjai,ID,-5.1241,120.2530,73.29,91,21,4.14,1619213872
62,Nova Viçosa,BR,-17.8919,-39.3719,75.56,82,15,9.84,1619213886
69,Morondava,MG,-20.2833,44.2833,75.09,82,0,6.40,1619213889
79,Mataram,ID,-8.5833,116.1167,73.40,94,20,4.34,1619213893
125,Najrān,SA,17.4924,44.1277,75.20,22,0,2.51,1619213909
158,Jardim,BR,-21.4803,-56.1381,79.20,41,3,2.48,1619213815
182,Dambulla,LK,7.8600,80.6517,73.17,88,3,3.06,1619213930
204,Abu Kamal,SY,34.4506,40.9171,75.85,17,14,6.60,1619213876
205,Dalbandin,PK,28.8947,64.4101,76.60,8,0,4.14,1619213940
235,Mar del Plata,AR,-38.0023,-57.5575,71.60,78,0,6.91,1619213951
312,Maceió,BR,-9.6658,-35.7353,78.80,83,0,6.91,1619213980
341,Kuliyapitiya,LK,7.4688,80.0401,78.80,94,20,2.30,1619213991
365,Kalmunai,LK,7.4167,81.8167,79.74,81,2,1.52,1619213708
377,Singaraja,ID,-8.1120,115.0882,76.60,70,3,4.21,1619214011
379,Kota Kinabalu,MY,5.9749,116.0724,77.00,94,20,2.30,1619214012
398,São João da Barra,BR,-21.6403,-41.0511,77.00,65,0,9.22,1619214019
402,Dayong,CN,25.0209,118.2898,71.60,73,20,4.47,1619214021
405,Itapirapuã,BR,-15.8233,-50.6133,72.05,51,2,0.65,1619214022
424,Pringsewu,ID,-5.3582,104.9744,71.65,95,9,4.18,1619214031
430,Vidalia,US,32.2177,-82.4135,73.40,27,1,3.44,1619214033
437,Bhakkar,PK,31.6253,71.0657,72.93,32,0,6.20,1619214035
451,São José da Coroa Grande,BR,-8.8978,-35.1478,78.98,79,7,7.58,1619213792
452,Madhubani,IN,26.3667,86.0833,78.30,23,23,3.42,1619214040
483,Beloha,MG,-25.1667,45.0500,70.34,76,21,9.28,1619214052
517,Nushki,PK,29.5542,66.0215,73.35,15,0,0.49,1619213858
536,Mossamedes,AO,-15.1961,12.1522,78.22,77,0,4.14,1619214072
538,Belmonte,BR,-15.8631,-38.8828,78.80,73,0,9.22,1619214073
539,Chilmāri,BD,25.5559,89.6715,77.74,35,19,9.10,1619214073
557,Tigre,AR,-34.4260,-58.5796,75.00,68,0,5.75,1619214080
568,Banjar,ID,-8.1900,114.9675,77.00,83,20,3.44,1619214085

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
hotel_df = ideal_df
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius" : 5000,
    "type": "lodging",
    "key" : g_key
}

for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"
    print(params["location"])
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    # extract results
    results = response['results']
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

22.2855,114.1577
Retrieving Results for Index 6: Hong Kong.
Closest hotel is Mini Hotel Central.
------------
-5.1241,120.253
Retrieving Results for Index 22: Sinjai.
Closest hotel is Wisma Sandika.
------------
-17.8919,-39.3719
Retrieving Results for Index 62: Nova Viçosa.
Closest hotel is Pousada Porto do Sol.
------------
-20.2833,44.2833
Retrieving Results for Index 69: Morondava.
Closest hotel is La Case Bambou.
------------
-8.5833,116.1167
Retrieving Results for Index 79: Mataram.
Closest hotel is Hotel Santika Mataram.
------------
17.4924,44.1277
Retrieving Results for Index 125: Najrān.
Closest hotel is محمد هادي ال فطيح.
------------
-21.4803,-56.1381
Retrieving Results for Index 158: Jardim.
Closest hotel is Estancia Hotel - Jardim MS.
------------
7.86,80.6517
Retrieving Results for Index 182: Dambulla.
Closest hotel is Tinaya Treats.
------------
34.4506,40.9171
Retrieving Results for Index 204: Abu Kamal.
Closest hotel is محطة التلفاز.
------------
28.8947,64.4101
Retrieving Results for Index 205: Dalbandin.
Closest hotel is Sanjrani House.
------------
-38.0023,-57.5575
Retrieving Results for Index 235: Mar del Plata.
Closest hotel is Gran Hotel Mar del Plata.
------------
-9.6658,-35.7353
Retrieving Results for Index 312: Maceió.
Closest hotel is Poutur Pousada.
------------
7.4688,80.0401
Retrieving Results for Index 341: Kuliyapitiya.
Closest hotel is Rest House.
------------
7.4167,81.8167
Retrieving Results for Index 365: Kalmunai.
Closest hotel is VS Villa.
------------
-8.112,115.0882
Retrieving Results for Index 377: Singaraja.
Closest hotel is Puri Bagus Lovina Resort.
------------
5.9749,116.0724
Retrieving Results for Index 379: Kota Kinabalu.
Closest hotel is Gaya Centre Hotel.
------------
-21.6403,-41.0511
Retrieving Results for Index 398: São João da Barra.
Closest hotel is Pousada Porto De Canoas.
------------
25.0209,118.2898
Retrieving Results for Index 402: Dayong.
Closest hotel is Haiyue Express Hotel.
------------
-15.8233,-50.6133
Retrieving Results for Index 405: Itapirapuã.
Closest hotel is Hotel Nossa Senhora Aparecida.
------------
-5.3582,104.9744
Retrieving Results for Index 424: Pringsewu.
Closest hotel is Urban Style by Front One.
------------
32.2177,-82.4135
Retrieving Results for Index 430: Vidalia.
Closest hotel is Quality Inn & Suites.
------------
31.6253,71.0657
Retrieving Results for Index 437: Bhakkar.
Closest hotel is Gorcha Nashaib.
------------
-8.8978,-35.1478
Retrieving Results for Index 451: São José da Coroa Grande.
Closest hotel is Crôa Mares Hotel.
------------
26.3667,86.0833
Retrieving Results for Index 452: Madhubani.
Closest hotel is Hotel Raj Vilas.
------------
-25.1667,45.05
Retrieving Results for Index 483: Beloha.
Missing field/result... skipping.
------------
29.5542,66.0215
Retrieving Results for Index 517: Nushki.
Closest hotel is Jahangir Hotel Noshki.
------------
-15.1961,12.1522
Retrieving Results for Index 536: Mossamedes.
Closest hotel is Hotel Chik Chik Namibe.
------------
-15.8631,-38.8828
Retrieving Results for Index 538: Belmonte.
Closest hotel is Pousada Monte Carmelo O Pão.
------------
25.5559,89.6715
Retrieving Results for Index 539: Chilmāri.
Closest hotel is Mahi telecom.
------------
-34.426,-58.5796
Retrieving Results for Index 557: Tigre.
Closest hotel is Puerto Delta Apartamentos.
------------
-8.19,114.9675
Retrieving Results for Index 568: Banjar.
Closest hotel is The Hamsa Resort.
------------

In [53]:
hotel_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
6,Hong Kong,HK,22.2855,114.1577,78.01,87,20,3.00,1619213704,Mini Hotel Central
22,Sinjai,ID,-5.1241,120.2530,73.29,91,21,4.14,1619213872,Wisma Sandika
62,Nova Viçosa,BR,-17.8919,-39.3719,75.56,82,15,9.84,1619213886,Pousada Porto do Sol
69,Morondava,MG,-20.2833,44.2833,75.09,82,0,6.40,1619213889,La Case Bambou
79,Mataram,ID,-8.5833,116.1167,73.40,94,20,4.34,1619213893,Hotel Santika Mataram

In [52]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [56]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))